.title-bar {
  background-image: url("../../img/what-the-hex-dark.png");
  width: 100%;
  /*text-align: center;*/
  margin-bottom: 30px;
  border-bottom: 1px solid red;
}

h2 {
  font-family: 'Share Tech', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 400;
  font-size: 3rem;
  font-style: normal;
  text-decoration: underline red;
  margin-left: 50px;
  color: white;
}

.scoreboard {
  font-family: 'Share Tech Mono', monospace;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}

.score {
  color: red;
}

.board {
  text-align: center;
  width: 100%;
}

.message-board {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 10px;
  color: white;
}


